body{
margin-top:72px;
background-color:#222222;
color:#DDDDFF;
background-image:url('Images/bg.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
text-align: center;
}

.intro{
text-align:center
}
p.Sample{
color:#EEEEFF;
}

.sample{
color:red;
}

.portfolioEntry{
margin:5%;
background-color:#00002299;
display:flex;
text-align:center;
}

.illustEntry{
margin:5%;
background-color:#00002299;
display:inline-block;
text-align:center;
height:50%;
}

.illustThumb{
min-height: 50%;
min-width:20%;
}

.gameThumb{
width:312px;
}
.gameThumb img{
width:100%;
}

.gameDesc{
margin-top:5%;
margin-left:5%;
margin-bottom:5%;
margin-right:5%;
width : 80%;
display:flex;
flex-direction:column;
self-align:center;
justify-content:center;
}
.gameDesc2{
margin-top:5%;
margin-left:5%;
margin-bottom:5%;
margin-right:5%;
display:flex;
flex-direction:column;
justify-content:center;
width:100%;
}
.tab {
overflow: hidden;
border: 1px solid #454545;
background-color: #454545;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
color:#FFFFFF;
}
.externalButton{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 5px 5px 5px 5px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
border-radius:10px;
width:100px;
height:30px;
margin:auto;
align-self:center;
}
.tab button:hover {
  background-color: #232323;
}
.tab button.active {
  background-color: #454545;
}
.tabContent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabContent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}